/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: center;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='dd-'] {
  float: center;
  padding-right: 300px;
  padding-bottom: 50px;
}
h2 {
  text-align: left;
  padding-top: 20px;
  padding-left: 300px;
  padding-bottom: 10px;
}
.list {
  padding-left: 300px;
  width: 50%;
}
.news ul li p div {
    color: white;
    padding-bottom: 0px;
    font-size: 25px;
}
img{
    max-width:100px;
    max-height:100px;
}
.content {
    width: 1280px;
    border: 2px ghostwhite;
    padding: 5px;
    overflow: hidden;
    background-color: ghostwhite;  
    border-radius: 10px;
    box-shadow: 0px 0px 2px #16636d;
}
.content img {
    margin-right: 10px;
    float: left;
    max-width:250px;
    max-height:150px;    
    border-radius: 10px;
}
.dropdown {
    float: right;
}
.dropdownOuter{
    float: right;
    text-align: center;
    padding-top: 55px;
    padding-right: 0px;
}
#dropD {
    box-shadow: 0px 0px 2px #16636d;
    width: 180px;
    height: 25px;
    padding: 4px;
    padding-top: 8px;
    cursor: default;
}